/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

/* Variables */
:root {
	/* colors */
	--main-bg-col: #1f2937;
	--hero-main-txt: #f9faf8;
	--hero-sec-txt: #e5e7eb;
	--btn-col: #3882f6;
	--info-hd-txt: #1f2937;
	--quote-bg: #e5e7eb;
	--quote-txt: #1f2937;
}

/* Header */

.header {
	display: flex;
	background-color: var(--main-bg-col);
	color: var(--hero-sec-txt);
	align-items: center;
	justify-content: space-between;
	padding: 1% 12% 0 12%;
}

.header-links {
	list-style: none;
	display: flex;
	width: 35%;
	justify-content: space-between;
}

.header-links li {
	font-size: 0.85rem;
}

/* Desc */

.desc {
	padding: 8% 12% 8% 12%;
	background-color: var(--main-bg-col);
	display: flex;
}

.sign-up {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
}

.img {
	flex: 1;
	margin-left: 1rem;
	background-color: grey;
	color: var(--hero-sec-txt);
	display: flex;
	justify-content: center;
	align-items: center;
}

.img,
.sign-up {
	height: 230px;
}
.sign-up-title {
	color: var(--hero-main-txt);
	font-size: 48px;
}

.sign-up-text {
	color: var(--hero-sec-txt);
	font-size: 18px;
	width: 45ch;
}

.sign-up-btn {
	background-color: var(--btn-col);
	width: 20%;
	border: none;
	color: var(--hero-sec-txt);
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-top: 0.5rem;
}

/* Info cards */

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.info-title {
	color: var(--info-hd-txt);
	font-size: 36px;
	font-weight: bolder;
}

.info-cells {
	display: flex;
	justify-content: space-between;
	width: 45%;
	margin: 2rem 0;
}

.cell-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.cell {
	height: 133px;
	width: 100%;
	border-radius: 0.5rem;
	border: 3px solid var(--btn-col);
}

.cell-text {
	width: 17ch;
	color: grey;
	font-size: 14px;
	text-align: center;
}

/* Quote */

.quote {
	background-color: var(--quote-bg);
	padding: 8% 30%;
}
.quote-body {
	color: var(--quote-txt);
	font-style: italic;
	font-weight: 100;
	font-size: 36px;
	width: 40.5ch;
}
.quote-author {
	color: var(--quote-txt);
	font-weight: bolder;
	text-align: right;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

/* TODO on a wide screen without developer tools second section is wrong */
/* Utility classes */
